<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>
    <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <main>
        <form class="product-form" action="/admin/edit-product" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <!-- <input type="text" name="title" id="title"> -->
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<%= product.title %>"
                >


            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
                <% if (product.imageUrl) { %>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" style="max-width: 150px;">
                <% } %>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <!-- <input type="number" name="price" id="price" step="0.01"> -->
                 <input 
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<%= product.price %>"
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <!-- <textarea name="description" id="description" rows="5"></textarea> -->
               <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><%= product.description %>
                </textarea>
            </div>
            
            <input type="hidden" name="productId" value="<%= product._id %>">
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Product</button>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>